@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<input id="getControllers" type="button" name="getControllers" value="Get Controllers" />
<script id="myScript" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#getControllers").click(function () {
            $.getScript("/JavascriptExposer2/Index", function (data) {
                $("#myScript").html(data);
                var home = new MyHomeController();
                home.About({}, function (json) {
                    alert(json.name);
                });
            });
        });
    });
</script>
